<section>
    <h4>Posts</h4>
    <form action="/posts/create" method="POST">
        <textarea name="content" cols="30" rows="3"></textarea>
       <input placeholder="Type Here......" type="submit" value="Post"/>
    </form>
</section>